{% extends 'plantillas/main.html' %} ## extendemos de la plantilla main.html
## traemos el bloque de contenido de la plantilla main

{% block contenido%}
{% include 'plantillas/estatus.html' %}
<br>

<div class="row">
	<div class="col-md-5">
		<h5>Clientes:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Crear Cliente</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Clientes</th>
					<th>Pedidos</th>
				</tr>
				{% for c in cliente %}
				<tr>
					<td><a class="btn btn-primary  btn-sm btn-block" href="{% url 'clientes' c.id %}">Ver</a></td>
					<td>{{c.nombre}}</td>
					<td>{{c.telefono}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Ultimos 5 pedidos</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Producto</th>
					<th>Fecha del pedido</th>
					<th>Estatus</th>
					<th>Actualizar</th>
					<th>Eliminar</th>
				</tr>

				{% for ped in pedido %}
				<tr>
					<td>{{ped.producto}}</td>
					<td>{{ped.fecha_creada}}</td>
					<td>{{ped.estatus}}</td>
					<td><a class= "btn btn-sm btn-info" href="{% url 'actualizarPedido' ped.id %}">Actualizar</a></td>
	        <td><a class= "btn btn-sm btn-danger" href="{% url 'eliminarPedido' ped.id %}">Eliminar</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}
